<div>
  R
  <select ng-model="red">
    <option value="F">Lots</option>
    <option value="A">Some</option>
    <option value="0">None</option>
  </select><label style="margin-right:15px;">red={{red}}</label>
  G
  <select ng-model="green">
    <option value="F">Lots</option>
    <option value="A">Some</option>
    <option value="0">None</option>
  </select><label style="margin-right:15px;">green={{green}}</label>
  B
  <select ng-model="blue">
    <option value="F">Lots</option>
    <option value="A">Some</option>
    <option value="0">None</option>
  </select><label style="margin-right:15px;">blue={{blue}}</label>
</div>