<html>
  <head>
    <title>2 NAVIGATION</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <script type="text/javascript" src="js/navigation2.js"></script>
    </head>
  <body ng-app="navigationSandbox">

    <script type="text/ng-template" id="country.tmpl">
      <div class="country-div">
        <h3>Select a price</h3>
        <select id="inputPrice"
          ng-model="currentPrice"
          ng-options="price.amount for price in currentCountry.prices track by price.amount">
        </select>
        <!--p>selected price is : {{currentPrice}}</p-->
        <price-data amount="{{currentPrice.amount}}"></price-data>
      </div>
    </script>

    <script type="text/ng-template" id="price.tmpl">
      <div class="price-div">
        <h3>Select a connectivity</h3>
        <select id="inputConnectivity"
          ng-model="currentConnectivity"
          ng-options="connectivity.rid for connectivity in currentPrice.connectivities track by connectivity.rid">
        </select>
        <!--p>selected connectivity is : {{currentConnectivity}}</p-->
        <connectivity-data rid="{{currentConnectivity.rid}}"></connectivity-data>
      <div>
    </script>

    <script type="text/ng-template" id="connectivity.tmpl">
      <div class="connectivity-div">
        <h3>Select a creditProvider</h3>
        <select id="inputCreditProvider"
          ng-model="currentCreditProvider"
          ng-options="creditProvider.rid for creditProvider in currentConnectivity.credit_providers track by creditProvider.rid">
        </select>
        <p>selected creditProvider is : {{currentCreditProvider}}</p>
        <credit-provider-data rid="{{currentCreditProvider.rid}}"></credit-provider-data>
      <div>
    </script>

    <script type="text/ng-template" id="creditProvider.tmpl">
      <div class="credit-provider-div">
        <h3>rid={{currentCreditProvider.rid}} - mnc={{currentCreditProvider.mnc}}</h3>
        <p class="spending-limit">daily_spending_limit={{currentCreditProvider.daily_spending_limit}}</p>
        <p class="spending-limit">monthly_spending_limit={{currentCreditProvider.monthly_spending_limit}}</p>
        <ul>
          <li ng-repeat="route in currentCreditProvider.routes">
            <label>lane: {{route.lane}}</label><br/>
            <label>type_of_billing: {{route.type_of_billing}}</label>
          </li>
        </ul>
      <div>
    </script>

    <div ng-controller="template3Controller">
      <h3>Select a country</h3>
      <select id="inputCountry"
        ng-model="currentCountry"
        ng-options="country.name for country in countries track by country.mcc">
        <!-- NB - country.mcc becomes the option VALUE regardless of which is the chosen label -->
     </select>
      <!--p>selected country is : {{currentCountry}}</p-->
      <country-data name="{{currentCountry.name}}"></country-data>
    </div>

  </body>
</html>
