<!DOCTYPE html>
<html>
  <head>
    <title>NAVIGATION</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <script type="text/javascript" src="js/navigation.js"></script>
    </head>
  <body ng-app="navigationSandbox">

    <div ng-controller="template1Controller">
      <div class="" ng-repeat="customer in customers">
        <my-customer></my-customer>
      </div>
    </div>

    <div ng-controller="template3Controller">
      <p>selected country is : {{currentCountry}}</p>
      <select id="inputCountry"
        ng-model="currentCountry"
        ng-change=""
        ng-options="countryData.name for (countryCode, countryData) in countries track by countryCode">
        <!-- NB - countryCode becomes the option VALUE regardless of which is the chosen label -->
        <!-- my-country="countryData" inside the tag won't work: link is executed three times during initialisation -->
      </select>
    </div>
    
    <script type="text/ng-template" id="country.tmpl">
      <article>
        <h3 ng-bind="countryCode"></h3>
        <p ng-bind="countryData.mcc"></p>
        <ul>
          <li class=""
              ng-repeat="pricepoint in countryData.pricepoints"
              ng-include="'pricepoint.tmpl'">
            <pricepoint></pricepoint>
          </li>
        </ul>
      </article>
    </script>

    <script type="text/ng-template" id="pricepoint.tmpl">
      <label ng-bind="pricepoint.amount"></label>
      <p>ecco qui {{pricepoint.amount}}</p>
    </script>

    <div ng-controller="template2Controller">
      <my-country class="" 
           ng-repeat="(countryCode, countryData) in countries"
           ng-include="'country.tmpl'">
      </my-country>
    </div>

    </body>
</html>
