<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flex + UI-Bootstrap</title>

    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="/vendor/flex/css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="/vendor/flex/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="/vendor/flex/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
    <link href="/vendor/flex/css/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="/vendor/flex/css/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet">

    <!-- THEME STYLES - Include these on every page. -->
    <link href="/vendor/flex/css/style.css" rel="stylesheet">
    <link href="/vendor/flex/css/plugins.css" rel="stylesheet">

    <!-- THEME DEMO STYLES - Use these styles for reference if needed. Otherwise they can be deleted. -->
    <link href="/vendor/flex/css/demo.css" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular-route.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="main/js/module.js"></script>
    <script type="text/javascript" src="dashboard/js/module.js"></script>
    <script type="text/javascript" src="dashboard/js/controllers.js"></script>
    <script type="text/javascript" src="dashboard/js/services.js"></script>
    <script type="text/javascript" src="dashboard/js/directives.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

    <style>
      .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
  </head>
  <body ng-app="onebip.panel">
    <div id="wrapper" ng-controller="MainController">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation" data-ng-hide="">

            <!-- begin BRAND HEADING -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right collapsed" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                <div class="navbar-brand">
                    <span style="color: #fff;">Flex Admin Dashboard</span>
                </div>
            </div>
            <!-- end BRAND HEADING -->

            <div class="nav-top">
                <ul class="nav navbar-left">
                    <li class="tooltip-sidebar-toggle">
                        <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Sidebar Toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <!-- You may add more widgets here using <li> -->
                </ul>

                <ul class="nav navbar-right">
                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a class="logout_open" href="#" data-ng-click="logout()" data-popup-ordinal="0">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <strong>{{ username() }}</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->
                </ul>

            </div>
            <!-- /.nav-top -->
        </nav>
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->
        <!-- begin SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse">
              <ul id="side" class="nav navbar-nav side-nav">
                <!-- begin SIDE NAV USER PANEL -->
                <li class="side-user">
                    <p class="welcome">
                        <i class="fa fa-key"></i> Logged in as
                    </p>
                    <p class="name tooltip-sidebar-logout">
                        <span class="last-name">{{ username() }}</span> <a style="color: inherit" class="logout_open" href="#" data-ng-click="logout()"><i class="fa fa-sign-out"></i></a>
                    </p>
                    <div class="clearfix"></div>
                </li>
                <!-- end SIDE NAV USER PANEL -->
                <!-- begin DASHBOARD LINK -->
                <li class="panel">
                    <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#dashboards">
                        <i class="fa fa-bar-chart-o"></i>
                        Dashboards <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="collapse nav" id="dashboards">
                        <li>
                          <menu-link path="/dashboard/configuration">
                            Purchase configuration
                          </menu-link>
                        </li>
                    </ul>
                </li>
                <!-- end DASHBOARD LINK -->
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->

      <!-- begin MAIN PAGE CONTENT -->
      <div id="page-wrapper">
        <div class="page-content">
        
        </div>
        <!-- /.page-content -->
      </div>
      <!-- /#page-wrapper -->
    </div>  <!-- end MAIN PAGE CONTENT -->
    <!-- /#logout -->
    <!-- Logout Notification jQuery -->
    <script src="/vendor/flex/js/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="/vendor/flex/js/plugins/hisrc/hisrc.js"></script>

    <!-- GLOBAL SCRIPTS -->
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
    <script src="/vendor/flex/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/flex/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/vendor/flex/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/vendor/flex/js/plugins/popupoverlay/defaults.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <script src="/vendor/flex/js/plugins/ladda/spin.min.js"></script>
    <script src="/vendor/flex/js/plugins/ladda/ladda.min.js"></script>
    <script src="/vendor/flex/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>

    <!-- THEME SCRIPTS -->
    <script src="/vendor/flex/js/flex.js"></script>
  </body>
</html>