<div class="constraint-div">
    <div class="input-group form-inline constraint-cell">
        <span class="input-group-addon">
            <select data-ng-model="rule.constraints.payment_volume.from.operator">
                <option value=""></option>
                <option value="gt">></option>
                <option value="gte">≥</option>
            </select>
        </span>

        <input data-bk-tooltip="Format example: 5000"
               data-placement="right"
               data-bk-tooltip-options="{container:'body'}"
               data-ng-model="rule.constraints.payment_volume.from.value" type="text" class="form-control">
    </div>

    <div class="input-group form-inline constraint-cell">
        <span class="input-group-addon">
            <select data-ng-model="rule.constraints.payment_volume.to.operator">
                <option value=""></option>
                <option value="lt"><</option>
                <option value="lte">≤</option>
            </select>
        </span>

        <input data-bk-tooltip="Format example: 25000"
               data-placement="right"
               data-bk-tooltip-options="{container:'body'}"
               data-ng-model="rule.constraints.payment_volume.to.value"
               type="text" class="form-control">
    </div>
</div>