<div class="constraint-div" data-ng-model="result">
  <div class="input-group form-inline constraint-cell">
    <span class="input-group-addon">
      <select 
        data-ng-model="selection"
        data-ng-options="getValue(option) for option in options track by getKey(option)">
      </select>
    </span>

    <input data-bk-tooltip="Format example: 5000"
       data-placement="right"
       data-bk-tooltip-options="{container:'body'}"
       data-ng-model="operand" type="text" class="form-control">
    <pre>selection={{ selection }}</pre>
    <pre>operand={{ operand }}</pre>
    <pre>result={{ result }}</pre>
  </div>
</div>